@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------
   DESIGN TOKENS (GLOBAL)
--------------------------------*/
@layer base {
  :root {
    --bg: 222 47% 6%;
    --fg: 0 0% 98%;

    --card: 222 40% 10%;
    --muted: 0 0% 65%;

    --accent: 210 100% 60%;

    --radius: 16px;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-bg text-fg antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  }
}
