@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 222 47% 6%;
    --fg: 0 0% 98%;
    --card: 222 40% 9%;
    --card-2: 222 35% 11%;
    --muted: 0 0% 70%;
    --muted-2: 0 0% 55%;
    --border: 0 0% 14%;
    --accent: 210 100% 60%;
    --accent-2: 270 100% 70%;
    --radius: 20px;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
  }
}
